body {
    background: url(https://raw.githubusercontent.com/peterobama/sinu_data/gh-pages/mobile_bg_2.jpg) no-repeat;
    top: 0;
    left: 0;
    
}


.neu1 {
    position:absolute;
    top: 300px;
    margin:10px;
     margin-left:30px;

}
.neu2 {
    position:absolute;
    top: 550px;
    margin:10px;
     margin-left:30px;

}
.neu3 {
    position:absolute;
    top: 750px;
    margin:10px;
     margin-left:30px;

}



